$md-screen: 768px;
iframe {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin-top: 56px;
    padding: 0;
    overflow: hidden;
    z-index: 0;
    height: calc(100% - 128px);
}

.card-body {
    padding: 32px;
}
@media (min-width: $md-screen) {
    section.text-gray-600.relative {
      .container-lg {
        margin-top: 5rem; // Zwiększenie marginesu górnego
      }
      .col-lg-4.col-md-12 {
        margin-left: auto;
        margin-right: auto; // Centralizacja kolumny na ekranie md
      }
    }
  }