@import '../../../scss/variables.scss';

iframe {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    padding: 0;
    overflow: hidden;
    z-index: 0;
    height: 100%;
}

.card-body {
    padding: 32px;
}
@media (min-width: $lg-screen) {
    .container-lg{
        margin-top: 8rem;
    }
    .card {
        max-width: 70vw;
    }
  }
@media (max-width: $lg-screen) {
    .container-lg{
        margin-top: 30rem;
        .d-flex{
            justify-content: center;
        }
    }
    .card {
        min-width: 70vw;
    }

  }