@import '../../../scss/variables.scss';

iframe {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    padding: 0;
    overflow: hidden;
    z-index: 0;
    height: 100%;
}

.card-body {
    padding: 1.5rem;
}
@media (min-width: $lg-screen) {
    .container-lg{
        margin-top: 2rem;
    }
    .card {
        margin-right: 10%;
    }
  }
@media (max-width: $lg-screen) {
    .container-lg{
        margin-top: 3rem;
        .d-flex{
            justify-content: center;
        }
    }
    .card {
        min-width: 40vw;
    }

}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}