$palette-brown : #9B5625;
$palette-dark-gray : #8D8B98;
$palette-light-gray : #EBEBEB;
$palette-blueish : #BCB9D0;
$palette-light-cream-1 : #ECD9DD;
$palette-balanced-brown : #B68274;
$palette-light-cream-2 : #EAD3D0;
$palette-pinkish : #CC9E9F;
$palette-dark-brown : #502718;
$palette-whiteish : #F7F6F7;