.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    // background: #bc9864;
    background: #eaeef6;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-type {
    font-weight: 500;
  //  color: #bc9864;
    display: block;
}