    <div class="container">
        <div class="row px-4 d-flex" role="button" (click)="redirectToPersonPage()">
            <div class="d-flex flex-column img-wrapper col-12 img-col align-center col-md-12 col-lg-6 py-4"
            >
                <img [src]="personPhoto" [alt]="personName + ' photo'">
                <!-- <div [ngClass]="{'d-none': !showWidget}" >
                    <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/paula-poznysz/seksuolog-psycholog/wroclaw" rel="nofollow" data-zlw-doctor="paula-poznysz" data-zlw-type="big_with_calendar" data-zlw-opinion="false" data-zlw-hide-branding="true" data-zlw-saas-only="false">Paula Poznysz - ZnanyLekarz.pl</a>
                </div> -->
            </div>
            <div class="card col-12 m-auto col-md-12 col-lg-6">
                    <h6 class="person-name">{{personName}}</h6>
                    <div class="d-flex flex-wrap">
                        <div *ngFor="let tag of tags" class="tag mr-2">{{tag}}</div>
                    </div>
                    <p class="person-description">{{personDescription}}</p> 
                    <!-- <h5 class=""><strong>+ (800) 520 4789</strong></h5> -->
                    <app-fancy-button
                        class="d-flex button ms-auto"
                        (click)="openLink()"
                        [buttonText]="'Umów wizytę'">
                    </app-fancy-button>
            </div>
        </div>
    </div>
