@import '../../../../scss/variables.scss';

img {
    border-radius: 50%;
    width: 60%;
    margin: auto;
}


@media (min-width: $lg-screen) {
    .img-wrapper {
        background-image: linear-gradient(to right, transparent 50%, white 50%, white 80%, transparent 80%);
    }
    :host.even .container .row{
        flex-direction: row-reverse;
        .img-wrapper {
            background-image: linear-gradient(to left, transparent 50%, white 50%, white 80%, transparent 80%);
        }       
    }
}
@media (max-width: $lg-screen) {
    .img-wrapper {
       background-color: white;
       border-radius: 2rem 2rem 0 0;
    }
}

.person-name {
    font-size: 1.5em;
    font-weight: bold;
}

.card {
    // background-color: white;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
    // max-width: 300px;
    border: none;

}

.tag {
    display: inline-block;
    background-color: #f1eeff;
    color: #6558d3;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.person-description {
    color: #a0a0a0
}