<div class="container">
    <div class="row px-4 d-flex">
        <div class="d-flex img-wrapper col-12 img-col align-center col-md-12 col-lg-6 py-4">
            <img src="../../assets/images/face1.jpg" alt="face1">
            <!-- <div class="behind-img"></div> -->
        </div>
        <div class="card col-12 m-auto col-md-12 col-lg-6">
                <h6 class="person-name">Paula Poznysz</h6>
                <h6>O mnie:</h6>
                <p class="person-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in fermentum tellus. Etiam
                    turpis metus, mattis vel ullamcorper sed, convallis eget tellus. Aliquam luctus nisl justo,
                    iaculis maximus tortor hendrerit eget. Quisque vehicula nisl eget tincidunt auctor. Donec vitae
                    justo aliquet est luctus tincidunt eget eu mi.</p>
                <!-- <h5 class=""><strong>+ (800) 520 4789</strong></h5> -->
        </div>
    </div>
</div>
