<footer mt-5>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-4">
                    <app-footer-item [icon]="faLocationDot" [contactType]="'Adres'" [contactInfo]="'plac Teatralny 3/28, 50-051 Wrocław'"></app-footer-item>  
                </div>
                <div class="col-md-4">
                    <app-footer-item [icon]="faPhone" [contactType]="'Telefon'" [contactInfo]="' +48 692 077 384'"></app-footer-item>
                </div>
                <div class="col-md-4">
                    <app-footer-item [icon]="faPaperPlane" [contactType]="'Email'" [contactInfo]="'poznysz.priv@gmail.com'"></app-footer-item>
                </div>
            </div>
        </div>
    </div>
</footer>
