<footer mt-5>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="row">
                @for (contact of contactData; track contact.contactType; let index = $index) {
                    <div class="col-md-4">
                        <app-footer-item
                            [icon]="iconsArray[index]"
                            [contactType]="contact.contactType"
                            [contactInfo]="contact.contactInfo">
                        </app-footer-item>  
                    </div>
                }
            </div>
        </div>
    </div>
</footer>