<footer mt-5>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-4">
                    <app-footer-item [icon]="faLocationDot" [contactType]="contactTypes.ADDRESS" [contactInfo]="'plac Teatralny 3/28, 50-051 Wrocław'"></app-footer-item>  
                </div>
                <div class="col-md-4">
                    <app-footer-item [icon]="faPhone" [contactType]="contactTypes.PHONE" [contactInfo]="' +48 692 077 384'"></app-footer-item>
                </div>
                <div class="col-md-4">
                    <app-footer-item [icon]="faPaperPlane" [contactType]="contactTypes.EMAIL" [contactInfo]="'seksuolog@paulapoznysz.pl'"></app-footer-item>
                </div>
            </div>
        </div>
    </div>
</footer>