<div class="nav-container d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand navbar-side" routerLink="">seksuolog-wro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                            routerLink="/"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"
                            data-bs-toggle="collapse" data-bs-target="#navbarNav">
                            Strona główna
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarNav">Zespół</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target="#navbarNav">Kontakt</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-side d-none d-lg-flex align-items-center">
                @if (authService.user$ | async) {
                <app-fancy-button
                    (click)="logout()"
                    [buttonText]="'Wyloguj się'">
                </app-fancy-button>
                } @else {
                <app-fancy-button
                    (click)="loginWithGoogle()"
                    [buttonText]="'Zaloguj się'">
                </app-fancy-button>
                }
            </div>
        </div>
    </nav>
</div>