<div class="nav-container d-flex justify-content-center">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand navbar-side" routerLink="">Paula Poznysz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
        </div>
        <div class="navbar-side d-none d-lg-flex align-items-center">
            <app-fancy-button [buttonText]="'Zaloguj się'"></app-fancy-button>
            <fa-icon class="ml-3" [icon]="faSearch"></fa-icon>
        </div>
    </div>
    </nav>
</div>