<section>
    <div id="welcome" class="subsection d-flex" [class]="getSeason()">
        <div *ngIf="quote" class="subsection-content-wrapper d-flex flex-row px-4">
            <div class="subsection-placement">
                <div class="d-flex flex-column subsection-content h-100">
                    <h1 class="content-title text-center pt-5 pt-lg-none" [innerHTML]="quote.quote">
                    </h1>
                    <span class="content-description align-self-center text-center my-lg-5">
                        ~ {{quote.author}}
                    </span>
                    <div class="d-block d-lg-none subsection-img h-100"></div>
                    <app-fancy-button 
                        class="align-self-center mb-4 mb-lg-0"
                        routerLink="/about"
                        [color]="getSeason() === 'winter' ? '#EBEBEB' : '#e55743'"
                        [buttonText]="'Umów się'">
                    </app-fancy-button>
                </div>
            </div>
        </div>
    </div>
</section>