<section>
    <div id="welcome" class="subsection d-flex">
        <div class="subsection-content-wrapper">
            <div class="subsection-placement">
                <div class="d-flex flex-column subsection-content">
                    <h1 class="content-title">Pomożemy Ci <br/>
                        zbudować życie, <br/>
                        które pokochasz
                    </h1>
                    <span class="content-description text-white">
                        Poznanie i akceptacja siebie to pierwszy krok do radości życia.
                        Niezależnie od tego, kim jesteś, ile masz lat i jakie masz doświadczenia,
                        pomożemy Ci lepiej poznać siebie i osiągnąć psychiczny dobrostan.
                    </span>
                    <app-fancy-button [buttonText]="'Umów się'"></app-fancy-button>
                </div>
            </div>
        </div>
    </div>
</section>