@import '../../../scss/variables.scss';

.subsection {
    align-items: center;

    &#welcome {
        
        background-color: #ffe1d8;
        background-repeat: no-repeat;
        background-image: url('../../../assets/images/woman.png');
        @media (min-width: $lg-screen) {
            height: calc(100vh - $lg-navbar-height);
            max-height: 664px;
            background-position: top 70px right;
            background-size: contain;
        }
        @media (max-width: $lg-screen) {
            height: calc(100vh - $md-navbar-height);
            background-position: bottom center;
            background-size: contain;
        }
    }

    @media (min-width: $lg-screen) {
        .subsection-content-wrapper {
            max-width: 1440px;
            margin: 0 auto;
            padding-left: $lg-indentation-margin;
            padding-right: $lg-indentation-margin;
    
            .subsection-placement {
                flex-basis: 58.3333%;
                -webkit-box-flex: 0;
                flex-grow: 0;
                max-width: 58.3333%;
    
                .subsection-content {
                    align-items: flex-start;
                    flex-direction: column;

                    .content-description {
                        margin-top: 3rem;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }
    @media (max-width: $lg-screen) {
        .subsection-content-wrapper {
            padding-left: 1rem;
            padding-right: 1rem;
            height: 100%;
            
            .subsection-placement {
                height: 100%;

                .subsection-content {
                    position: relative;
                    height: 100%;

                    // .content-title {
                    //     margin-top: 2rem;
                    //     text-align: center;
                    // }

                    // .content-description {
                    //     text-align: center;
                    // }

                    app-fancy-button {
                        // align-self: center;
                        position: absolute;
                        bottom: 2rem;
                    }
                }
            }
        }
    }
}