@import '../../../scss/variables.scss';

.subsection {
    align-items: center;

    &#welcome {
        
        & .subsection-img{
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: contain;
        }
        &.spring {
            background-color: #ffe1d8;
            & .subsection-img {
                background-image: url('../../../assets/images/spring.png');
            }
            span {
                background-color: #ffe1d8;
            }
        }
        &.summer {
            background-color: #96bcaf;
            & .subsection-img {
                background-image: url('../../../assets/images/summer.png');
            }
            span {
                background-color: #96bcaf;
            }
        }
        &.autumn {
            background-color: #fcf7e8;
            & .subsection-img {
                background-image: url('../../../assets/images/autumn.png');
            }
            span {
                background-color: #fcf7e8;
            }
        }
        &.winter {
            background-color: #af4a4a;
            & .subsection-img {
                background-image: url('../../../assets/images/winter.png');
            }
            span {
                background-color: #af4a4a;
            }
        }

        @media (min-width: $lg-screen) {
            height: calc(100vh - $lg-navbar-height);
            max-height: 664px;
            background-size: contain;
                        background-repeat: no-repeat;
            &.spring {
                background-position: top 4rem right 5%;
                background-image: url('../../../assets/images/spring.png');
            }
            &.summer {
                background-position: top 5rem right;
                background-image: url('../../../assets/images/summer.png');
            }
            &.autumn {
                background-position: bottom right 5%;
                background-image: url('../../../assets/images/autumn.png');
            }
            &.winter {
                background-position: top 5rem right 5%;
                background-image: url('../../../assets/images/winter.png');
            }
    
        }
        @media (max-width: $lg-screen) {
            height: calc(100vh - $md-navbar-height);
            background-position: bottom center;
            background-size: contain;
        }
    }

    @media (min-width: $lg-screen) {
        .subsection-content-wrapper {
            max-width: 1440px;
            margin: 0 auto;
            padding-left: $lg-indentation-margin;
            padding-right: $lg-indentation-margin;
    
            .subsection-placement {
                flex-basis: 58.3333%;
                -webkit-box-flex: 0;
                flex-grow: 0;
                max-width: 58.3333%;
    
                .subsection-content {
                    align-items: flex-start;
                    flex-direction: column;

                    .content-description {
                        margin-top: 3rem;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }
    @media (max-width: $lg-screen) {
        .subsection-content-wrapper {
            padding-left: 1rem;
            padding-right: 1rem;
            height: 100%;
        }
    }
}