<section>
    <div id="welcome" class="subsection d-flex spring">
        <div class="subsection-content-wrapper">
            <div class="subsection-placement">
                <div class="d-flex flex-column subsection-content">
                    <h1 class="content-title text-center">
                        Pomiędzy bodźcem i reakcją jest przestrzeń: 
                        <br>
                        w tej przestrzeni leży wolność i moc wyboru naszej odpowiedzi.
                    </h1>
                    <span class="content-description w-100 text-center">
                        ~ Viktor E. Frankl
                    </span>
                    <app-fancy-button class="align-self-center"  routerLink="/about" [buttonText]="'Umów się'"></app-fancy-button>
                </div>
            </div>
        </div>
    </div>
</section>