<section class="py-5">
    <div>
        <app-person-card
            class="odd"
            [personName]="'Paula Poznysz'"
            [tags]="['psycholog','seksuolog','psychoterapeuta poznawczo-behawioralny']"
            [personDescription]="'Jestem psychologiem, seksuologiem i psychoterapeutą poznawczo-behawioralnym. Ukończyłam studia magisterskie na Uniwersytecie Wrocławskim, a także studia podyplomowe z zakresu seksuologii klinicznej na Uniwersytecie Jagiellońskim.'"
            >
        </app-person-card>
        <app-person-card
            class="even d-flex mt-5"
            [personName]="'Paula Poznysz'"
            [tags]="['psycholog','seksuolog','psychoterapeuta poznawczo-behawioralny']"
            [personDescription]="'Jestem psychologiem, seksuologiem i psychoterapeutą poznawczo-behawioralnym. Ukończyłam studia magisterskie na Uniwersytecie Wrocławskim, a także studia podyplomowe z zakresu seksuologii klinicznej na Uniwersytecie Jagiellońskim. W trakcie studiów zdobyłam doświadczenie w pracy z dziećmi, młodzieżą i dorosłymi w ramach praktyk zawodowych oraz wolontariatu. W trakcie studiów zdobyłam doświadczenie w pracy z dziećmi, młodzieżą i dorosłymi w ramach praktyk zawodowych oraz wolontariatu. W trakcie studiów zdobyłam doświadczenie w pracy z dziećmi, młodzieżą i dorosłymi w ramach praktyk zawodowych oraz wolontariatu.'"
            >
        </app-person-card>
    </div>
</section>
