@import '../../../scss/variables.scss';

section {
    background-color: #bcb9d0;
}
@media (min-width: $lg-screen) {
    section {
        padding-left: $lg-indentation-margin;
        padding-right: $lg-indentation-margin;
    }
}
.team-description {
    max-width: 1440px;
}

img {
    border-radius: 50%;
    width: 60%;
    margin: auto;
}

// .container {
    // max-width: none;
// }
