@import '../../../scss/variables.scss';

section {
    background-color: rgb(147, 203, 255);

    .section-content {
        padding-left: $lg-indentation-margin;
        padding-right: $lg-indentation-margin;
    }
}

img {
    border-radius: 50%;
    width: 60%;
    margin: auto;
}

.container {
    max-width: none;
}