<h1>Polityka Cookies</h1>
<p>Na naszej stronie wykorzystujemy różne technologie, takie jak cookies, aby poprawić jej funkcjonalność, efektywność oraz zapewnić użytkownikom najlepsze wrażenia podczas jej przeglądania.</p>

<h2>Jakie cookies wykorzystujemy?</h2>
<ul>
  <li><strong>Niezbędne cookies:</strong> Te cookies są niezbędne do prawidłowego działania naszej strony internetowej i nie można ich wyłączyć w naszych systemach.</li>
  <li><strong>Analityczne cookies:</strong> Pozwalają nam mierzyć ruch na stronie i analizować źródła ruchu, co pomaga nam ulepszać działanie naszej strony.</li>
  <li><strong>Funkcjonalne cookies:</strong> Umożliwiają zapamiętanie wyborów wykonanych przez użytkownika (np. nazwa użytkownika, język).</li>
</ul>

<h2>Jak zarządzać cookies?</h2>
<p>Możesz kontrolować i zarządzać cookies za pomocą ustawień swojej przeglądarki. Poniżej znajdziesz linki do instrukcji dla różnych przeglądarek:</p>
<ul>
  <li><a href="https://support.google.com/chrome/answer/95647">Chrome</a></li>
  <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Firefox</a></li>
  <li><a href="https://support.apple.com/kb/ph19214?locale=en_US">Safari</a></li>
  <li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">Edge</a></li>
</ul>

<h2>Zmiany w polityce cookies</h2>
<p>Od czasu do czasu możemy aktualizować naszą politykę cookies, aby odzwierciedlić zmiany w naszej stronie internetowej oraz przepisach prawnych. Ostatnia aktualizacja miała miejsce dnia 22.04.2024.</p>