<section>
    <div class="container pt-4">
        <div class="row px-4 d-flex flex-column flex-lg-row-reverse">
            <div class="col-12 col-lg-7">
                <div class="card">
                    <img class="mx-auto my-3" src="../../../assets/images/max.jpg" alt="personName">
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/max-pawlicki/psycholog/wroclaw" rel="nofollow" data-zlw-doctor="max-pawlicki" data-zlw-type="big_with_calendar" data-zlw-opinion="false" data-zlw-hide-branding="true" data-zlw-saas-only="false">Max Pawlicki - ZnanyLekarz.pl</a><script>!function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
            </div>
        </div>
    </div>
</section>